:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #141414;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  margin: 0;
}
#top {
  position: absolute;
  top: 0;
  right: 0;
  width: 134px;
  height: 128px;
  background-image: url("./assets/top.png");
  background-size: cover;
}
#content {
  position: relative;
}
.card {
  position: relative;
  z-index: 2;
  width: 380px;
  height: 600px;
  padding: 2rem;
  background-color: #282828;
  border-radius: 10px;
  /* elevation: 9 */
  box-shadow:
    rgba(0, 0, 0, 0.2) 0px 5px 6px -3px,
    rgba(0, 0, 0, 0.14) 0px 9px 12px 1px,
    rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
}
.source {
  margin-top: 1em;
  opacity: 0.5;
}
.source:hover {
  opacity: 0.87;
}
.github {
  width: 18px;
  height: 18px;
}
h1 {
  margin-top: 0;
  margin-bottom: 0.45em;
  font-size: 2.9em;
  line-height: 1.1;
}
#app {
  height: 100%;
  text-align: center;
}
a {
  color: inherit;
  text-decoration: none;
}
.button {
  display: flex;
  width: fit-content;
  padding: 0.6em 1em;
  margin: auto;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  color: #141414;
  cursor: pointer;
  background-color: #1cd760;
  border: 1px solid transparent;
  border-radius: 100px;
  transition: border-color 0.2s;
}
.button:hover {
  border-color: #ebebeb;
}
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #141414;
  }
  .button:hover {
    border-color: #141414;
  }
  .card {
    background-color: #ebebeb;
  }
}
